/* CSS selectors are used to "find" (or select) the HTML elements you want to style. */

body{
  background: url('../Images/gradient.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}





/* Bordered form */
form {
    border: 3px solid #b6b6b6;
    background-color: #fff0fa;
    width: 50%;
    height: auto;
    margin: auto;
    position: relative;
    padding: 16px;

  }
  
  
  /* Full-width inputs */
  input[type=text], input[type=password], input[type=email], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
   button[type=submit] {
    background-color: #a2fbd9;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  button[type=reset] {
    width: auto;
    padding: 10px 18px;
    background-color: #e646b3;
  }
  
/* HOME PAGE CSS */

header {
  padding: 10px 16px;
  background-color: #e646b3;
  color: #f1f1f1;
  overflow: hidden;
  
}

footer {
  padding: 10px 0px;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #e646b3;
  color: white;
  text-align: center;
}
.space{
  padding: 20px;

}
/* Navbar */
nav{
  float: right;
}
samp{
  float:left;
}
/* Dropdown Button */
.dropbtn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline;
  right: 2%;
  
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display:none;
  position:absolute;
  background-color: #fff0fa;
  min-width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0%;

}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ffffff;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: grid;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #fff0fa}


/* unvisited link */
a:link {
  color: #e646b3;
}

/* visited link */
a:visited {
  color: rgb(93, 0, 186);
}

/* mouse over link */
a:hover {
  color: rgb(0, 144, 239);
}

/* selected link */
a:active {
  color: rgb(255, 204, 0);
}


/* Section */

section {
  border: 3px solid hsl(212, 99%, 50%);
  background-color: rgb(255, 255, 255);
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 2%;
  word-wrap: break-word;
}

/* Article */

article {
  position: relative;  
  margin: 0;
  padding: 10px 16px;
  padding-top: 3%;
  padding-bottom: 3%;
}

/* Aside */

aside{
  width: 30%;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: 3%;
  float: right;
  font-style: italic;
  border: 3px solid hsl(212, 99%, 50%);
  background-color: rgb(255, 255, 255);
  padding-top: 3%;
  padding-bottom: 3%;

}

audio{
  background-color: #006773;
  -webkit-transition:all 0.5s linear;
  -moz-transition:all 0.5s linear;
  -o-transition:all 0.5s linear;
  transition:all 0.5s linear;
  -moz-box-shadow: 2px 2px 4px 0px #006773;
  -webkit-box-shadow:  2px 2px 4px 0px #006773;
  box-shadow: 2px 2px 4px 0px #006773;
  -moz-border-radius:7px 7px 7px 7px ;
  -webkit-border-radius:7px 7px 7px 7px ;
  border-radius:7px 7px 7px 7px ;
  }

  audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}

table {
  width: 100%;
}

td:nth-child(1) { background: hsl(160, 60%, 50%); }
td:nth-child(2) { background: hsl(170, 70%, 50%); }
td:nth-child(3) { background: hsl(180, 80%, 50%); }
td:nth-child(4) { background: hsl(190, 90%, 50%); }
td:nth-child(5) { background: hsl(200, 99%, 50%); }
td:nth-child(6) { background: hsl(212, 99%, 50%); }

